<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Template</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <h1>{{ intro }}</h1>
      <button v-on:click="vis_navn = !vis_navn">Vis Navn</button>
      <p v-if="vis_navn">Fornavn: {{ fornavn }}</p>
      <p v-show="vis_navn == true">Efternavn: {{ efternavn }}</p>
      <br>
      <br>
      <input type="text" v-model="nytNavn">
      <input type="number" v-model="nyAlder">
      <br>
      <button @click=addName>Tilføj ({{ nytNavn }} : {{ nyAlder }})</button>
      <br>
      <br>
      <button @click=emptyNames>Tøm</button>
      <ul>
        <li v-for='obj in navne'>
          {{ obj.navn }}
          :
          {{ obj.alder }}
        </li>
      </ul>
      
    </div>

    <!-- Import App -->
    <script src="./js/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
